.align-center{
	align-items: center;
    display: flex;
}
.banner-text-content>*{
	color:#ffffff;
	text-align:left;
}

.banner-text-content h5{
    letter-spacing: 10px;
    margin-bottom: 5px;
}
.banner-text-content h5 {
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 20px;
    cursor: default;
}
.banner-text-content h1 {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    text-transform: uppercase;
    color: #ffffff;
    cursor: default;
}`
.single-post-nav{
	background:none;
}
.app_heading{
	position: relative;
    border-bottom: 1px solid #e2e2e2;
    background: #fafafa;
}
.app_heading .comment-title{
	margin:0px;
	padding:15px 10px;
}
.comment-reply-title{
	position: relative;
    border-bottom: 1px solid #e2e2e2;
    background: #fafafa;
	margin:0px;
	padding:15px 10px;
}

.breadcrumb{
	display:inline-block;
	background-color:unset;
}
.breadcrumb {
	color:#000000;
}
/* .breadcrumb a:hover{
	color:#dcdcdc;
} */

.nav-links .page-numbers{
	padding:20px 26px;
}

.app_blog_img{
	min-height:200px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 1.8% 2.992em 0;
    padding: 10px;
    position: relative;
    width: 23.2%;
    margin-left: 0;
}
.front_img{
	transition-duration: .3s;
    transition-property: transform;
}

.front_img:hover{
	transform: scale(1.1);
}

/* agency css*/
.restoneu-banner-area{
	position:relative;
}

.blog-post{
    overflow: hidden;
	border: 1px solid #e6f0fa;
    padding: 20px 10px 10px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa;
}

/*--------------------------------------------------------------
Blog
--------------------------------------------------------------*/
	
	#content {
		word-wrap: break-word;
	}
	
	.content-area .hentry {
		position: relative;
		display: contents;
		padding-top: 0px; 
	}	
	.content-area .hentry .col-md-6{
		/* padding-top: 30px; */
		padding-bottom: 50px;
	}
	.content-area .hentry:nth-last-child(2) .col-md-6{
		float:right;
	}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]{
	display: block;
    width: 100%;
    border: 1px solid rgb(223, 235, 238);
    padding: 10px 25px;
    line-height: 20px;
    color: #758092;
    border-radius: 3px;
    background: #fff;
    font-weight: 300;
	height:50px;
}
textarea{
	height:auto;
}
.widget-section.blog-sidebar .widget{
	position: relative;
    margin-bottom: 30px;
    padding-top: 50px;
    border: 1px solid #e6f0fa;
    padding: 25px;
    /* border-radius: 10px; */
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa;
}
.plan-price{
	padding:10px;
}
.plan-price.style2{
	
}
.app_price_mid{
	transform: scale(1.2);
    z-index: 2;
}
.bizworx-latest-news .owl-item{
	padding:6px;
}
.owl-pagination {
bottom:-40px;
}
.bizworx-latest-news .meta-post{
	display: inline-block;
    padding: 5px 10px;
    text-align: center;
    position: relative;
	top:-20px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
.bizworx-latest-news .meta-post a{
	color:#fff;
}

.corpo_progerss_bar .elementor-progress-wrapper{
	height:	11px;
	line-height:10px;
}
.corpo_animation::before {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 0px;
    height: 3px;
    width: 0px;
    background-color: #2154CF;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
	}
	.corpo_animation:hover::before{
		width:100%;
	}
.corpo_animation.mlr::before{	
	margin: 0 10px;
}
.corpo_animation.mlr:hover::before{	
	width: 93%;
}
.banner-button{
	margin-top:5px;
}

@media (min-width: 768px){
	.banner-text-content h5 {
		font-size: 16px;
		letter-spacing: 10px;
		margin-bottom: 5px;
	}
	.banner-text-content h1 {
		font-size: 40px;
		line-height: 40px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	
}

@media (min-width: 992px){
	.banner-text-content h5 {
		font-size: 18px;
	}
	.banner-text-content h1 {
		font-size: 55px;
		line-height: 55px;
	}

}

@media (min-width: 1200px){
	.banner-text-content h1 {
		font-size: 78px;
		line-height: 78px;
	}
}

@media (min-width: 1025px){
	.head-wrap .container > .row {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	.site-header #site-navigation ul li ul {
		left: 0px;
	}
	
}

@media (max-width: 1024px){
	
	.btn-menu {
		display: block;
	}
	.site-header .site-title{
	margin: 0;
	text-align: center;
}
}


